.navigation {
    display: inline-flex;
    align-items: center;
    gap: $s3;
    position: relative;
    color: $black;
    font-weight: 400;
    text-decoration: none;

    &::first-letter {
        text-transform: capitalize;
    }

    &::after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: -2px;
        left: 0;
        background-color: $violet_accent;
        transition: width 0.2s ease-in-out;
    }

    &:hover {
        color: $violet_accent;

        path {
            transition: width 0.2s ease-in-out;
            stroke: $violet_accent;
        }

        &::after {
            width: 100%;
        }
    }

    &__icon {
        stroke-width: 1.5;
    }

    &:hover &__icon {
        stroke-width: 2.5;
    }
}
