.footer {
    margin-top: $s8;
    padding: $s5_5 $s2;
    display: flex;
    flex-direction: column;
    gap: $s3;
    align-items: center;
    justify-content: space-between;
    background: $beige_accent;

    @include media-min($md) {
        padding: $s5_5 $s3;
        flex-direction: row;
    }

    @include media-min($md) {
        padding: $s5_5 $s6;
    }

    &__copyright {
        margin: 0;
    }

    &__buttons {
        display: flex;
        gap: $s3;
    }

    &__button {
        list-style: none;
    }
}
